

body{
    background-image: linear-gradient(rgb(200, 151, 200), rgb(116, 116, 216),rgb(234, 131, 148));
   
}
  h1{
    text-align: center;
    text-decoration: underline;
  }
  .box1{
    height:200px;
    width:300px;
    border:2px solid black;
    border-radius: 10px;
    position: relative;
    left:300px;
    background-color: rgb(75, 111, 123);
    margin-top: 20px;
  }
  .box2{
    height:200px;
    width:300px;
    border:2px solid black;
    border-radius: 10px;
    position: relative;
    left:800px;
    bottom:200px;
    background-color: rgb(75, 111, 123);
  }
  h2{
    text-align: center;

  }
  .btn1{
    height:60px;
    width:150px;
    background-color: crimson;
    font-size: 15px;
    position: relative;
    left:70px;
    top:30px;
  }
  .btn2{
    height:60px;
    width:150px;
    background-color: crimson;
    font-size: 15px;
    position: relative;
    left:70px;
    top:30px;
  }
  .h1{
    position: relative;
    bottom:150px;
  }
  .para{
    position: relative;
    bottom:150px;
  }
  .btn3{
    height:60px;
    width:150px;
    background-color: crimson;
    font-size: 15px;
    position: relative;
    left:660px;
   bottom:150px;
  }
  .h3{
    position: relative;
    bottom: 150px;
    
  }